<app-navbar></app-navbar>
<div class="flex items-center justify-center p-4">
  <div class="p-8 bg-blue-700">
    <div class="overflow-hidden text-center p-8 font-comic">
      <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold mb-4 animate-flyInLeft text-white">About Us</h1>
    </div>
    <div class="overflow-hidden font-serif">
      <p class="text-base sm:text-lg text-white animate-flyInRight delay-200">
        The Yale School of Art is a graduate school that confers MFAs in Graphic Design,
        Painting/Printmaking, Photography, and Sculpture;
        and offers undergraduate-level art courses to Yale College students.
        Our website exists as an ongoing collaborative experiment in digital publishing and information sharing.
        It functions as a wiki—all members of the School of Art community have the ability to add new,
        and edit most existing content.
      </p>
    </div>
  </div>
</div>
<app-card-list></app-card-list>
<router-outlet></router-outlet>
